* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  background: -webkit-linear-gradient(
    315deg,
    rgba(36, 46, 77, 0.9),
    rgba(137, 126, 121, 0.9)
  );
  background: linear-gradient(
    135deg,
    rgba(36, 46, 77, 0.9),
    rgba(137, 126, 121, 0.9)
  );
  background-image: url('../../images.jpg');
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1.3em;
}

.form {
  width: 100%;
  height: 100%;
  padding: 2em;
  position: relative;
  border-radius: 3px;
  border: 1px solid #b12816;
  box-shadow: 0px 7px 16px -3px rgba(0, 0, 0, 0.5);
  background: #bc3220;
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #bc3220),
    color-stop(29%, #db4a37),
    color-stop(50%, #db4a37),
    color-stop(71%, #db4a37),
    color-stop(100%, #bc3220)
  );
  background: -webkit-linear-gradient(
    left,
    #bc3220 0%,
    #db4a37 29%,
    #db4a37 50%,
    #db4a37 71%,
    #bc3220 100%
  );
  background: linear-gradient(
    to right,
    #bc3220 0%,
    #db4a37 29%,
    #db4a37 50%,
    #db4a37 71%,
    #bc3220 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc3220', endColorstr='#bc3220', GradientType=1 );
}

.form:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
}

.name {
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(155, 195, 223);
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  text-shadow: -1px -2px #a91400, 0 1px 0 #ff7e6d;
}
.lfInput {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  margin-top: 10px;
  padding: 1em 2em;
  border: 0;
  width: 400px;
  box-sizing: border-box;
  color: black;
  font-size: 1 rem;
  font-family: Open Sans, Arial, sans-serif;
  text-shadow: 1px 1px 1px #232323;
  border-radius: 25px;

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc3220', endColorstr='#fa5846', GradientType=0 );
  outline: none;
}

.lfInput:focus {
  outline: none;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
.lfInput::placeholder {
  color: black;
}
.formInput {
  display: flex;
  justify-content: center;
  width: 100%;
}
